.App {
  text-align: center;
}

.App header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}