.Search{
    width: 50%;
    height: 2em;
    display: flex;
    align-items: center;
}
.Search input {
    width: 90%;
    height: 2em;
    padding: 1px 2px 1.70px 2px;
    
}

.Search button{
    height:2.5em;
    width: 2.5em;
    background-image: url('../../../media/images/search_icon.png');
    background-position: center;
    background-size: cover;
    border:solid grey 0.3px;
    border-left: 0;
}