<h1>Products</h1>
<% if (messages.error){ %>
 <%= messages.error %>
  <% } %>
<form action = "/v1/products" method="POST">
    <div>
        <div>
            <label for ='username'>username</label>
            <input type = "text" id = "username" name = "username" required/>
        </div>
        <div>
            <label for ='password'>password</label>
            <input type = "text" id = "password" name = "password" required/>
        </div>
        <button type ="submit">Login </button>
</form>
<a href = '/v1/myinfo'> account</a>