@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');

.App {
  text-align: center;
  background-color: black;
  background-repeat: repeat;
  height: 100%;
  font-family: 'Raleway';
  font-size: 15px;
  display: flex;
  flex-direction: column;

}

.App header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 3 0.1 auto;
  
}
.App nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.App .columnInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.App a:hover{
  color:brown;
}

#logoutForm:hover{
  color:brown;
}

.App header{
  border-bottom:solid rgba(0, 0, 0, 0.438) 1px ;
  display: flex;
  flex-direction: column;
}

#navButton{
  display: none;
  background-image: url("./media/images/menu.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 600px){
  .App nav{
    display: flex;
    flex-direction: column;
  }
  
   #navButton{
    display: inline;
  }
  
}